#toplevel_page_Metagame_Finance_page div.wp-menu-image {
	background: transparent url(../gfx/icon.png) no-repeat  scroll center 0;
}

#toplevel_page_Metagame_Finance_page:hover div.wp-menu-image,
#toplevel_page_Metagame_Finance_page.wp-has-current-submenu div.wp-menu-image {
	background: transparent url(../gfx/icon.png) no-repeat  scroll center -28px;
}

.admin_float
{
	display:inline-block!important; 
	position:relative; 
	float:left; 
	margin:5px;'
	
}
.smp_rounded img
{
	-webkit-border-radius: 40px!important;
	border-radius: 40px!important;
	border:0;
}
.ui_list
{
	padding: 0 0 0 0;
	
}
.ui_list li label
{
	line-height:1;
}
.pbutton
{
	text-align:center;
	width:34px;
}
.smp_center
{
	text-align:center;
}
.smp_goods_trumbnail
{
	padding-top:4px;
}
.gt_compon2
{
	display:inline-block;
	position:relative;
	width:60px;
	text-align:center;
	word-wrap: break-word;
	line-height:1;
	vertical-align:top;
	
}
.gt_compon2 span
{
	position:absolute;
	font-family:Open Sans Condensed;
	font-weight:900;
	font-size:2em;
	top:18px;
	left:2.6px;
	z-index:100;
	color:white;
	width:60px;
	text-align:center;	
	text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000,-1px 1px 1px #000000, 1px -1px 1px #000000;
}
.smp_gb_rounded, .smp_gb_rounded_42, .smp_gb_rounded_60
{
	overflow:hidden;
	width:32px;
	height:32px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	float:left;
	margin:1px;
	display:inline-block;
	position:relative;
}
.smp_gb_rounded_42
{	
	width:42px;
	height:42px;
}
.smp_gb_rounded_60
{
	width:60px;
	height:60px;
}
}
.change_sa_range
{
	width:320px;
	display:inline-block;
	position:relative;
	float:left;
	margin-right:5px;
}
.smp_modern
{
	background-image:url("../img/modern.jpg");
	background-size:cover;
}
.smp_fantasy
{
	background-image:url("../img/fantasy_package.jpg");
	background-size:cover;
}
.smp_traditional
{
	background-image:url("../img/traditional_package.jpg");
	background-size:cover;
}
ul.smp_industry_list
{
	display:inline-block;
	padding:0!important;
} 
li.smp_industry_list
{
	margin-left:0;
}
input[type=number].smp_numberer
{
	width:75px;
	height:29px;
	vertical-align:center;
}
label.smp_label_numberer
{
	margin-left:7px;
	font-family:Ubuntu Condensed, Arial;
}
.smp_switcher_container
{
	position:relative;
	display:block;
	padding-bottom:10px;
}
.smp_switch_button
{
	position:relative;
	display:inline-block;
	padding:6px 10px;
	background: rgba(255, 255, 255, 0.5);
	border:1px solid rgba(0, 0, 0, 0.25);
	float:left;
	margin:1px;
	-webkit-border-radius: 1px!important;
	border-radius: 1px!important;
	cursor:pointer;
	
	
}
.smp_power_cnnt
{
	font-size:16px;
	font-weight:900;
	font-family:Arial, sans-serif;
}
.smp_sw_right
{
	padding-left:18px;
	-webkit-border-radius: 20px 2px 2px 20px;
	border-radius: 20px 2px 2px 20px;
}
.smp_sw_left
{
	padding-right:18px;
	-webkit-border-radius: 2px 20px 20px 2px;
	border-radius: 2px 20px 20px 2px;
}
.smp_switch_button_release
{
	background:grey;
	color:white;
	cursor:normal!important;	
	-webkit-box-shadow: inset 4px 4px 5px 1px rgba(0,0,0,0.45);
	box-shadow: inset 4px 4px 5px 1px rgba(0,0,0,0.45);
	padding-top:7px;
	padding-bottom:5px;
}
.smp_switch_slide
{
	padding:9px 2px;
	display:none;
}
.smp_switcher_head
{
	display:inline-block;
	width:100%;
}

 .consume_scheme_box_element
  {
	padding:3px 0;
	margin:8px 0;
	border-bottom:dotted 1px #AAA;
	vertical-align:middle;
	display:none;
 }
 
.smp-button
{
	padding:20px;
	color:#EEE;
	background:green;
	width:220px;
	height:220px;
	text-align:center;
	border:1px solid transparent;
}
.smp-button:hover
{
	border:1px solid #000;
}
.spm-quality-sec
{
	width:10%; 
	height:100%;
	position:relative; 
	float:left;
	display:inline-block;
}
.gt_components_cont
{
	padding:0px;
	margin:0;
	#border:1px solid rgba(0,0,0,0.75);
	#background:rgba(0,0,0,0.5);
	position:relative;
	display:inline-block;
	#width: 130px;
}
.gt_components_cont div
{
	vertical-align:center;
	font-size:10px;
	font-family:Open Sans, Arial, sans serif;
	float:left;
	margin:3px;
}
.gt_components_cont div img
{
	width:30px;
	height:30px;
}
.gt_count_label
{
	position:absolute;
	bottom:4px;
	#width:100%;
	background:#111;
	color:#fff;
	text-align:center;
	margin:0!important;
	
	padding:1px 4px!important;
	pointer-events:none;
}
.smp_gb_rounded, .smp_gb_rounded_42
{
	overflow:hidden;
	width:32px;
	height:32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	float:left;
	margin:2px;
	display:inline-block;
	position:relative;
}
.smp_gb_rounded_42
{	
	width:42px;
	height:42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:10px;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:27px;
	margin-top:5px;
	height:22px; 
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:1em;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -22px;
}

.css-label{
	background-image:url(../img/dark-check-green.png);
}

label.css-label { 
	background-image:url(../img/checkbox_1.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
	line-height: 1!important;
}
#vertical_dot_position1, #horisontal_dot_position1
{
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.dot_location
{
	width:8px;
	height:8px;
	background:red;
	position:absolute;
	display:block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.smp_batch_extra_field_column
{
	float:left; 
	position:relative; 
	display:inline-block;
	margin:2px;
}
.smp_calc table ab
{
	padding:2px 8px;
	color:white;
	background:#222;
	cursor:pointer;
}
.smp_calc table ab:hover
{
	background:#444;
}
.smp_calc table ab:active
{
	background:#FF0000;
}
.smp_calc table
{
	border:1px solid #555;
	width:100%;
}
.smp_calc table th
{
	background:#aaa;
}
.ob
{
	background:#EEE;
}
.ab
{
	background:#fff;
}
.waybill_box_element
{
	display:none;
	width:100%;
	margin-top:5px;
}	
.waybill_1, 
.waybill_2, 
.waybill_3, 
.waybill_4
{
	width:150px;
	float:left;
	display:block;
	position:relative;
	vertical-align:center;
}
.waybill_2
{
	width:170px;
}
.waybill_3
{
	width:90px;
}
.waybill_4
{
	width:150px;
}
.waybill_1_inn, .action__inn, 
.waybill_2_inn, 
.waybill_3_inn,
.waybill_4_inn
{
	width:140px;
	padding:5px;
}
.waybill_2_inn
{
	width:160px;
}
.waybill_3_inn
{
	width:80px;
}
.waybill_4_inn
{
	width:140px;
}
.tt
{
	width:95px;
}