#smp_routh_geom_cont
{
	overflow:visible;
}
.coin
{
	min-height:15px;
	height:1em;
	vertical-align:middle;
}
#storage_search_form
{
	position: absolute;
    bottom: 20px;
	right: 60px;
    font-size: 19px;
    color: white;
    padding: 2px 5px;
    z-index: 998;
    margin-bottom: -4px;
	background:#111;
}
.goods_type_tbl td
{
	#border:2px solid red!important;
	margin:0!important;
	padding:0 3px!important;
	min-width: 80px;
}
.goods_type_tbl  .descr
{
	font-size:0.8em;
	font-family:Open Sans, Arial;
	color:#2592DB!important;
}
.goods_count
{
	background-color: #000;
    padding: 2px 7px;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
}
.smp_gb_price
{
	color:#FFF; 
	font-family:Ubuntu Condensed; 
	font-size:19px;
	padding:1px 5px; 
	background:rgba(0,0,0,0.75); 
	margin-top:3px;
}
.gb_picto_owner
{
	font-family:Open Sans, Arial; 
	font-size:12px; 
	color:#FFF; 
	font-weight:bold;
	margin-bottom:4px;
	height:50px;
	width:100px;
	background:rgba(0,0,0,0.5);
	overflow:hidden;
	padding:4px;
}
.gbpiccont
{
	float:left; 
	margin-right:3px; 
	line-height:1;
	display:inline-block;
	position:relative;
	width:100px;
}
hr
{
	width:100%;
	background: none;
	border-bottom:1px dotted #AAA;
	margin:5px 0 30px 0;
}
label
{
	font-family: Open Sans, Arial, serif;
    font-size: 13px;
    color: #444;
    margin: 4px;
    position: relative;
    display: inline-block;
    line-height: 1.5;
}
#gb_colcont
{
	position:absolute;
	display:inline-block;
	width:300px;
	height:20px;
	top:3px;
	left:10px;
}
#outer_head .smc_switch_button 
{
	border:0;	
}
.storage_cnt_btchs
{
	position:absolute; 
	bottom:20px; 
	left:10px; 
	font-size:19px; 
	color:white;
	background-color:#000;
	padding:2px 5px;
	z-index:999;
	cursor:pointer;
}
.gb_blocked_label
{
	position:absolute;
	bottom:30px;
	left:30px;
	padding:12px;
	border:4px solid #FFF;
	color:#FFF;
	background:#999;
	font-family:Open Sans, Arial;
	font-size:20px;
	width:320px;
	opacity:0.5;
}
.is_batchblock
{
	pointer-events:none;
}
.is_batchblock .contt,
.is_batchblock .descr
{
	display:none; 	
	opacity:0.5;
}
.is_batchblock_g
{
	height:75px;
	position: absolute;
    top: 0;
    left: 75px;
    padding: 15px;
    border: 3px solid #000;
    background: rgba(0, 0, 0, 0.75);
    font-size: 1.2em;
    font-family: Open Sans;
    color: #888;
    width: 300px;
}
.gt_price
{
	font-weight:bold;
	font-size:1.2em;
	color:#FF5555;
}
.gt_count_label
{
	position:absolute;
	bottom:0;
	#width:100%;
	background:#111;
	color:#fff;
	text-align:center;
	margin:0!important;
	padding:1px 4px!important;
	pointer-events:none;
}
.smp_goods_type_table .gt_components_cont
{
	margin:0;
	border:0;
	background:transparent;
}
.dd-options
{
	z-index: 200000!important;
}
.acc_report h3
{
	position:relative;
	display:inline-block;
	width:100%;
	#background:#000;
	color:#222;
	margin-bottom:0;
	font-size:1.4em;
}
.acc_r_block h3>span
{
	font-size:0.75em;
	#font-family:Verdana, Arial, serif;
	font-weight:bold;
}
.smp_batch_card_price
{
	position:absolute;
	bottom:11px;
	left:80px;
	font-size:16px;
	font-family: Open Sans Condensed, Arial, serif;	
}
.smp_batch_card_price span
{
	font-weight:700;
	font-size:18px;
}
.report_acc_comm
{
	display:inline-block;
	padding:1px 10px;
	background:#555;
	color:#EEE;
	font-size:1.3em;
}
.report_acc_comm span
{
	background:red;
	padding:0 10px;
	margin:0 2px;
}
.account_report_summae
{
	font-size:2em;
	font-weight:bold;
}
.bank_report table
{
	margin:10px 0;
}
.bank_report tr
{
	border-top:1px dotted #000;
	border-bottom:1px dotted #000;
	background:#EFEFEF;
}
.bank_report td
{
	padding:0 5px;
}
.bank_report  th
{
	background:#DFDFDF;
	margin-left:5px;
	color:#444;
}
.bank_report .summae
{
	width:75px;
	padding-left:10px;
	background-color:rgba(0,0,0,0.25);
}
.bank_report .reason
{
	width:200px;
	text-align:center;
}
.bank_report .time
{
	width:100px;
	padding-left:20px;
}	
.storage_container
{
	#background:url(../img/storage_fon.jpg); 
	overflow:hidden; 
	display: inline-block; 
	position: relative;
}
.bg_stroke_title
{
	position:absolute; 
	top:0px; 
	left:13px; 
	vertical-align:baseline;
	color:#FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5), -1px -1px 1px rgba(0,0,0,0.5), -1px 1px 1px rgba(0,0,0,0.5), 1px -1px 1px rgba(0,0,0,0.5);
	font-size:18px;
	font-family:Open Sans Condensed, Arial, serif;
	font-weight:700;
	width:100px;
}
.batch_cont, .batch_cont_flip
{
	position:absolute;	
	display:inline-block;
}
.bct, .bct_flip
{
	font-family:Ubuntu Condensed;
	font-size:10px;
	color:white;
	position:absolute;
	bottom:16px;
	left:2px;
	text-align:left;
	padding:0 2px;
	cursor:pointer;
}
.bct_flip
{
	text-align:right;
}
.batch_cont_flip, .bct_flip
{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.batch_container
{
	background-image:url(../img/batch_container.png);
	width:86px;
	height:76px;
	position:absolute;
	pointer-events:none;
}
.stor_tabs
{
	position:absolute;
	bottom:0;
	z-index:10000000;
	left:10px;
	padding:2px 2px 0 2px;
	background:rgba(0,0,0,0.25);
}
.stor_tab, .cur_stor_tab
{
	padding:3px;
	color:white;
	position:relative;
	display:inline-block;
	cursor:pointer;
	font:Open Sans;
	font-weight:900;
	font-size:10px;
	opacity:0.5;
}
.ownersrow
{
	background:rgba(0,0,0,0.25); 
}

.cur_stor_tab
{
	background:darkred;	
	pointer-events:none;
	opacity:1;
}
.stor_tab:hover
{
	background:red;
	opacity:1;
}
.stor_tab:active
{
	background:black;
}
.storage_car
{
	background:url(../img/car.png);
	width:59px;
	height:54px;
	position:absolute;
	top:145px;
	left:170px;
	z-index:200;
	pointer-events:none;
}
.storage_main
{
	overflow:hidden; 
	
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
}
.smp_industry_gt_table
{
	padding:5px;
}
.smp_industry_gt_table tr
{
	border-bottom:1px solid #333;
}
.bottom_clip
{
	position:absolute;
	bottom:0;
	left:5x;
	z-index:1000;
}
.fill_square
{
	width:10px;
	height:10px;
	background:white;
	float:left;
	margin:0 2px;
	display:inline-block;
	position:relative;
	opacity:0.5;
	border:1px solid #AAA;
	vertical-align:center;
}
.fill_square_comm
{
	float:left;
	margin:0 10px 0 4px;
	display:inline-block;
	position:relative;
	color:#999;
	vertical-align:center;
}
.smp_route_picto
{
	padding:4px 12px;
	background:#8d7504;
	position:relative;
	display:inline-block;
	margin:3px;
	float:left;
	color:rgba(255,255,255,0.75);
	cursor:pointer;
}
.smp_route_picto:hover
{
	background: #7f6904;
	color:white;
}
.smp_route_picto:active
{
	background: #5f3312;
}
.smp_route_picto span
{
	color:rgba(255,255,255,0.5);
	margin-right:3px;
}
.smp_hub_picto_title
{
	display:inline-block; 
	position:relative; 
	vertical-align:middle; 
	margin:0 10px; 
	font-size:1.1em;
}
.smpd_comment
{
	position:absolute;
	bottom:40px; 
	left:20px; 
	display:inline-block; 
	background:red;
	padding:2px 15px;
	color:white;
	font-size:12px;
	font-family:Open Sans, Arial, sans-serif;
	pointer-events:none;
}
.location_map_muar
{
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:rgba(0, 0, 0, 0.5)
}

.smp_transportation_batch_comm
{
	color:#555;
	font-size:16px;
	padding:10px;
	display:block;
	position:relative;
}

.factory_bussiness_widget, .factory_bussiness_widget2
{
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}
.factory_bussiness_widget:hover, .factory_bussiness_widget2:hover
{
	opacity:1!important;
}
.smp_routh_geometry1
{
	opacity:0.5;
}
.smp_routh_geometry1:hover
{
	opacity:1;
}
.route_hint
{
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.route_hint:hover;
{
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
} 
.smp_your_batch_picto
{
	position:absolute;
	display:inline-block;
	cursor:pointer;
	width:4px;
	height:10px;
	bottom:0;
	right:0;
	background:red;
	color:white;
}
.smp_hub_pictogramm
{
	padding:4px 10px; 
	margin:2px; 
	background-color:#125512; 
	letter-spacing:0px; 
	text-transform: normal;
	box-sizing:border-box;
	color:#DDD;
	display:inline-block;
	position:relative;
	font-size:10px;
	vertical-align:middle;
	cursor:pointer;
	min-width:80px;
}
.smp_hub_pictogramm:hover
{
	color:white;
	vertical-align:middle;
}
.smp_hub_pictogramm:active
{
	background:red;
}
.smp_hub_picto
{
	float:left;
	position:relative;
	display:inline-block;
	margin:0 2px;
	font-size:20px;
}
.gt_components_cont
{
	padding:20px;
	#margin:0 20px;
	#border:1px solid rgba(0,0,0,0.75);
	#background:rgba(0,0,0,0.5);
	position:relative;
	display:inline-block;
	width: 130px;
}
.gt_components_cont div
{
	vertical-align:center;
	font-size:10px;
	font-family:Open Sans, Arial, sans serif;
	float:left;
	margin:3px;
}
.gt_components_cont div img
{
	width:30px;
	height:30px;
}
.smc_dragon_1
{

} 
.factory_widg_current_goods_type
{
	display:inline-block;
	position:relative;
	margin-right:20px;
	float:left;
}
 
.goods_type_trumb img
{
	position: relative; 	
	border: 1px solid rgba(255,255,255, 0.5);
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease; 
	padding:0;
	#margin-right:10px;
	#margin-bottom:10px;
	background:rgba(255,255,255,0.25);
	float:left;
	-webkit-box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.25);
	margin:4px;
}
.smp_widg_factory_gt_descr
{
	color: white;
	font-size:13px;
	font-family:Open Sans, Arial, sans serif;
	line-height:1.2;
	#font-weight:900;
	margin:8px 0;
}
.smp_rounded img
{
	-webkit-border-radius: 40px!important;
	border-radius: 40px!important;
	border:0;
}
.smp_good_type_picto, .smp_good_type_picto_rnd
{
	background-color:transparent!important;
	border:0px solid transparent!important;
	margin-bottom:0!important;
	cursor:pointer;
	opacity:0.75;	
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)!important;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)!important; 
}
.smp_good_type_picto:hover
{
	opacity:1;
}
.smp_good_type_picto_rnd
{
	opacity:1;
	position:absolute;
	box-sizing: border-box;
}
.smp_comment
{
	display:block;
	padding:10px;
	color:yellow;
	font-size:13px;
	font-family:Open Sans, Arial, sans serif;
	text-align:center;
	border:1px solid rgba(255,255,255,0.25);
}
.smp_factory_pictogramm_icon
{
	display:inline-block;
	position:relative;
	width:90px;
	height:90px;
}
.smp_factory_pictogramm_icon img
{
	width:90px;
	height:90px;
	padding:0!important;
	margin:0!important;
	border:0;
}
.smp_factory_pictogramm_icon span
{
	position:absolute;
	bottom:2px;
	left:2px;
	font-size:9px;
	padding:0 8px;
	font-family:Verdana, sans serif;
	color:white;
	background:black;
}
.smp-factory-icon-title td
{
	padding:0;
	margin:1px;
}
.factory_widg_goods_type  
{
	display:inline-block;
	float:left;
	opacity:0.75;
	cursor:pointer;
	position:relative;
}
.factory_widg_goods_type:hover, .factory_widg_goods_type:active
{
	opacity:1;
}
.factory_picto
{
	cursor:pointer;
	#display:inline-block;
	position:relative;
	float:left;
	margin:0 0 3px 3px;
}
.lbtr
{
	vertical-align:middle!important;
	width:200px!important;
}
.lbtr span
{
	font-size:2em;
}
.smp-batch-card
{
	position:relative; 
	display:inline-block;
	margin-bottom:15px;
	padding:0; 
	background: #f5f5f5;
	-webkit-box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.25);
	display:inline-block;
	width:400px;
	height:300px;
}
.smp-batch-card h3
{
	font-family:Open Sans Condensed, Arial, serif;
	font-size:18px;
	color:black;
	border-bottom:9px solid #999;
	text-transform: uppercase;
}
.smp-table-null
{
	border:none;
	padding:4px;
	line-height:100%;
	vertical-align:middle;
}
.smp-table-null label
{
	margin-bottom:5px;
	font-size:0.8em;
	color:#888;
	
}
.smp-table-null select, .smp-table-null  input
{
	padding:7px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	#min-width: 200px;
}
.smp-table-null input[type="number"]
{
	min-width: 180px;
}
.smp-table-null input[type="submit"]
{
	padding:20px 6px;
	font-family:Ubuntu Condensed, Arial, serif;
}
.smp-goods-card-plate
{
	cursor:pointer;
}
.smp-padding-1
{
	padding:10px;
}
.smp-padding-2
{
	padding:30px!important;
}
.smp_center
{
	text-align:center;
}
.gt_compon2
{
	display:inline-block;
	position:relative;
	width:60px;
	text-align:center;
	word-wrap: break-word;
	line-height:1;
	vertical-align:top;
	
}
.gt_compon2 span
{
	position:absolute;
	font-family:Open Sans Condensed;
	font-weight:900;
	font-size:2em;
	top:18px;
	left:2.6px;
	z-index:100;
	color:white;
	width:60px;
	text-align:center;	
	text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000,-1px 1px 1px #000000, 1px -1px 1px #000000;
}
.smp_gb_rounded, .smp_gb_rounded_42, .smp_gb_rounded_60
{
	overflow:hidden;
	width:32px;
	height:32px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	float:left;
	margin:1px;
	display:inline-block;
	position:relative;
}
.smp_gb_rounded_42
{	
	width:42px;
	height:42px;
}
.smp_gb_rounded_60
{
	width:60px;
	height:60px;
}
#my_willbill_actions
{
	position:absolute;
	right:0;
	top:0;
	
}
.sel_cgt
{
	opacity:1!important;
	//border:white 1px dotted;
}
.smp_bomber
{
	color:white;
	font-size:200px;
	position:fixed;
	opacity:0.75;
	
}
.ddd_ff
{
	width:240px; 
	margin:5px 0;
	display:block; 
	position:relative;
}	
.smp_gb_rnd_val
{
	position: absolute;
	bottom:0;
	text-align:center;
	background:rgba(0, 0, 0, 0.5);
	color:white;
	font-size:10px;
	width:80%;
	padding:2px 2px 2px 4px;
	pointer-events:none;
}
.needs_cont
{
	position:relative; 
	display:inline-block; 
	background:#222;
	padding:5px;
	-webkit-border-radius: 52px;
	border-radius: 52px;
}
.entry-meta
{
	position:relative;
	display:inline-block;
}
.smp-pr-main
{
	width:100%;
	#height:100%;
	min-height:330px;
	display:block;	
	display:none;

}
.smp-pr-main h3, .smp-pr-main h3 a
{
	margin-top:0!important;
	margin-bottom:20px!important;
	text-decoration:none!important;
	font-family: 'ubuntu Condensed', serif;
	text-align:left;
	padding:1px 10px;
}
.smp-pr-main h5, .smp-pr-main h4
{
	font-family: 'Open Sans Condensed', serif;
	margin-top:0!important;
	margin-bottom:2px!important;
	#font-weight:700;
}
.smp-pr-main h5
{
	font-size:17px;
	border-bottom:3px solid #999;
}
.smp-pr-main h4
{
	font-size:16px;
	border-bottom:3px solid #999;
}
.smp_button2
{
	margin-left:5px;
	padding:2px 6px;
	color:white;
	background:black;
	cursor:pointer;
}
.hub_permission_form
{
	display:inline-block;
	position:relative;
}
.smp-pr-cur-good
{
	font-family:Ubuntu, Arial, serif;
	
}
.smp-pr-cur-good td
{
	padding:2px;
	margin:0;
	vertical-align:top;
	margin:0;
}
.smp-batch-cont
{
	background:#EEE;
	#border: 1px solid #E2E2E2;
	padding:5px;
	border-left:6px solid #888;
}
.smp_power_label
{
	font-size:23px;
	vertical-align:middle;
	display:inline-block;
	position:relative;
	padding:3px;
}
.smp-table1
{
	width:120px;
	font-family:Ubuntu, Arial, serif;
	font-size:10px;
	display:inline-block;
	text-align:right;
	line-height:23px;
	border:0;
}
.smp-tabl2
{
	padding: 2px;
    width: 20px;
    vertical-align: top;
}
.smp_goods_trumbnail img
{
	margin:3px;
}
.smp-goods-1
{
	font-family: Ubuntu Condensed, serif;
    padding-left: 4px;
    display: inline-block;
    #width: 360px;
}
.smp-goods-2
{
	font-family:Open Sans Condensed, serif;
	font-size:20px;
	font-weight:700;
}
.smp-owner-goods
{
	#padding-left:10px;
	cursor:pointer;
}
.smp-location_type_name
{
	color:#666;
	font-size:11px;
	font-family:Ubuntu Condensed, serif;
}
.lp_opn_mtgm_pnl  .smp-location_type_name
{
	color:#CCC;
	font-size:11px;
	font-family:Ubuntu Condensed, serif;
}
.st_gb_count
{
	position:absolute;
	left:1px;
	top:1px;
	display:inline-block;
	padding:2px 5px;
	background:red;
	color:white;
	font-size:0.75em;
	font-weight:bold;
	font-family:Arial, sans-serif;
}
.spm-setting
{
	color:#999;
}
.smp-setting-table
{
	border-top:1px dotted #AAA;
	#border-bottom:1px dotted #AAA;
	padding:10px 0;
	margin:10px 0;
	height:100px;
	display:none;
	overflow:hidden;
}
.smp-before-title
{
	color:#AAA;
	font-size:0.6em;
}
.simple-margin-top
{
	margin-top:10px;
}
.smp-goods-count1
{
	font-size:20px;
	font-family:Open Sans Condensed, Arial, serif;
	font-weight:700;
	padding-left:26px;
	text-align:left;
}
.paymentss
{
	padding:10px;
	#border:1px solid #DDD;
	background:#F9F9F9;
	margin-top:5px;
}
.paymentss:hover
{
	background:#FBFBFB;
	#border:1px solid #EEE;
}
.smp-submit
{
	-webkit-appearance: none;
	border: 1px solid #EEE;
	border-image-source: none;
	border-image-slice: none;
	border-image-width: none;
	border-image-outset: none;
	border-image-repeat: none;
	box-sizing: border-box;
	padding:20px 12px;
	max-width:200px;
	cursor:pointer;
	text-align:center;
	background:#111;
}

.smp-store-batch-list
{
	margin:0;
	padding:0;
}
.smp-factory-td
{
	position:relative;
	display:inline-block;
	padding:2px;
	overflow:hidden;
}
.smp-factory-td img
{
	#width:50px;
}
.smp-factory-td-title
{
	font-size:12px;
	font-family:Open Sans Condensed, Arial, serif;
	text-align:center;
	font-weight:700;
	display:inline-block;
	margin:-5px 0 2px 0;
	overflow:hidden;
}

.smp_comment_widget
{
	padding:10px;
	font-family:Open Sans, Arial, sans serif;
	font-size:13px;
	#color:white;
	border:rgba(255,255,255,0.1) solid 1px;
	font-style: italic;
	text-align:center;
	display:block;
	text-transform: none!important;
	letter-spacing:0px;
}
.smp_factory_pictogramm_discr
{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
}
.factory_picto .smc-question
{
	position:absolute;
	top:4px;
	right:4px;
	z-index:100;
	padding:0 0 -1px 0!important;
	background:#FFF;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
#factory_pic
{
	width:50px; 
	height:50px; 
	display:inline-block; 
	position:relative; 
	float:left; 
	padding:4px;
	margin-right:5px;
}

#factory_pic img
{
	width:50px;
	height:50px;
}
.smp-factory-icon-title
{
	font-family:Open Sans Condensed, Arial, serif;
	font-size:14px;
	#text-align:center;
	#width:70px;
	font-weight:900;
	position:relative;
	display:inline-block;
	margin:0;
	background:transparent;
	box-sizing: border-box;
	padding:2px;
	overflow:hidden;
}
.smp-factory-icon-title:hover
{
	background:#EEE;
}
.smp-factory-table-count
{
	position:absolute;
	display:inline-block; 
	bottom:1px;
	right:1px;
	font-size:14px;
	font-family:Arial, serif;
	color:#FFF;
	background:red;
	font-weight:900;
	padding:9px 5px;
	text-shadow: 0 0 2px #000000;
}
.smp-center
{
	text-align:center;
	font-size:15px;
}
.smp_factory_cell_map
{
	width:10px;
	height:10px;
	border:1px solid grey;
	background:white;
	margin:1px; 
	float:left;
	cursor:pointer;
}
.smp-batch-tab-slide
{
	#height:260px;
	overflow:auto;
	text-align:left; 
	display:table-cell;
}
.smp-report0
{
	font-size:0.8em;
	#font-family:Ubuntu Condensed, Arial, san-serif
}
.smp-report1
{
	font-size:0.9em;
	font-weight:900;
	font-family:Open Sans Condensed, Arial, sans-serif;
	color:red;
}
.smp-select-comment1
{
	position:absolute;
	right:5px;
}
.spm-quality-sec
{
	width:10%; 
	height:3px;
	position:relative; 
	float:left;
	display:inline-block;
}
.qual_diagramm_title
{
	padding:1px 3px;
	background:#111;
	color:#EEE;
	font-size:9px;
	font-family:Verdana, Open Sans, Arial, sans-serif;
	position:absolute;
	display:inline-block;
	top:0;
	left:0;
	letter-spacing:0!important;
}
.tab_container
{
	position:relative;
	display:inline-block;
	margin:5px 0;
	width:100%;
}
.smp_batch_trumb
{
	position:absolute; 
	top:40px; 
	right:25px; 
	width:70px; 
	height:70px; 
	display:inline-block; 
	padding:0px; 
	border:1px solid transparent;
}
.smp_batch_sale
{
	position:absolute;
	top:130px;
	right:60px; 
	background:black;
	color:white;
	padding:10px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
	width:36px;
	height:36px;
	font-size:15px;
	line-height:1.0;
	cursor:pointer;
	box-sizing: border-box;
}
.smp_batch_character_link
{
	padding:0 3px;
	cursor:pointer;
}
.smp_routh_batches
{
	padding:10px 0;
	#border:1px dotted green;
	display:inline-block;
	width: 100%;
}
.smp_routh_geometry
{
	 pointer-events:none;
}

.smp_route_info
{
	cursor : pointer;
	background : red;
	-webkit-border-radius : 100%;
	border-radius : 100%;
	position : absolute;
	padding : 2px 2px 1px 2px;
	font-size : 3px;
	font-family : Verdana, Arial, sans serif;
	font-weight : 900;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	box-sizing:border-box!important;
	line-height:100%;
}
.smp_route_info:hover
{
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
}
.is_repaid
{
	position:absolute;
	bottom:30px;
	left:10px;
	opacity:0.22;
	color:#000099;
	padding:15px;
	font-size:22px;
	font-weight:bold;
	font-family:Courier, Verdana, serif;
	#width:300px;
	border-radius: 8px;
	border:8px solid #000099;
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
	pointer-events:none;
}

.smco_charge
{
	margin-top:10px;
	font-family:Open Sans Condensed, Arial, sans serif;
	font-size:14px;
	background:transparent;
}
.smco_charge a
{
	font-weight:900;
	color:black;
	padding:2px 8px;
}
.smco_charge a:hover
{
	background:green;
	color:white;
}
.smp_table_legend
{
	background:rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.125);
	font-size:11px;
	font-family:Open Sans, Arial, sans serif;
}
.smp_evgt_table
{
	width:100%;
	margin:2px;
}
.smp_table_content
{
	border-bottom:1px solid rgba(0,0,0,0.125);
	
}
.smp_table_content td, td.smp_table_content 
{
	text-align:center;
	color:#222;
}
.smp_gt_title
{
	font-weight:700;
	text-transform: uppercase;
	font-family:Verdana;
	font-size:9px;
}
.smp_tool_icon, .smp_tool_icon img
{
	width:54px;
	height:54px;
	border:0;
}
#undertitle
{
	position:relative;
	display:inline-block;
	width:200px;
}
#undertitle .smp-pr-title
{
	background-color:rgba(0,0,0,0.5);
}

#undertitle .smp-pr-title-current
{
	background-color:rgba(0,0,0,0.75);
}
#undertitle .smp-pr-title, 
#undertitle .smp-pr-title-current,  
#undertitle .smp-cl1
{
	width:200px;
}
#lp-content .smp-cl2:first-child
{
	left:0;
}
#lp-content h1, #lp-content h2, #lp-content h3, #lp-content h4, #lp-content h5, #lp-content h6
{
	border:0;
}
 #finst .smc_switch_button
{
	padding: 6px 10px;
	border-radius:0px;
	color:#EEE;
}
#undertitle .smc_switch_button[sw_name=bank_]
{
	width:160px;
	padding:20px;
	
}
 #finst .smc_switch_button_release
{
	padding-top: 7px;
	padding-bottom: 5px;
	color:#FFF;
}
th
{
	background:#999;
	color: #EFEFEF;
}

.smp_calc table ab
{
	padding:2px 8px;
	color:white;
	background:#222;
	cursor:pointer;
}
.smp_calc table ab:hover
{
	background:#444;
}
.smp_calc table ab:active
{
	background:#FF0000;
}
.smp_calc table
{
	border:1px solid #555;
}
.smp_calcth
{
	background:#aaa;
}
 .smp_calc .ob
{
	background:#EEE;
}
.smp_goods_type_table table td
{
	vertical-align:middle;
	border:0 solid transparent;
}	


.waybill_box_element
{
	display:none;
	width:100%;
	margin-top:5px;
}	
.waybill_1, 
.waybill_2, 
.waybill_3, 
.waybill_4
{
	width:150px;
	float:left;
	display:block;
	position:relative;
	vertical-align:center;
}
.waybill_2
{
	width:170px;
}
.waybill_3
{
	width:90px;
}
.waybill_4
{
	width:150px;
}
.waybill_1_inn, .action__inn, 
.waybill_2_inn, 
.waybill_3_inn,
.waybill_4_inn
{
	width:140px;
	padding:5px;
}
.waybill_2_inn
{
	width:160px;
}
.waybill_3_inn
{
	width:80px;
}
.waybill_4_inn
{
	width:140px;
}
.smp_batch_extra_field_column
{
	float:left; 
	position:relative; 
	display:inline-block;
	margin:2px;
}
.disbalance
{
	width: 95%;
    margin: 0;
    padding: 5px;
}
.gbc_title
{
	position:absolute;
	top:6px;
	left:140px;
	color:#111;
}
.smp-batch-card-table-cont
{
	position:absolute;
	top:45px;
	left:5px;
	padding:1px!impotant;
	display:inline-block;
}
.gbc_id
{
	position:absolute; 
	display:inline-block;
	right:4px; 
	top:4px; 
	padding:2px; 
	background:white; 
	font-size:10px;
	color:#010101;
}
.is_cargoed
{	
	background:red;
	-webkit-animation: cargo 3s linear;
	animation: cargo 1s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes cargo
{	
    50%
	{
		-moz-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		-o-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
    }
    100%
	{
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
    }
}
@keyframes cargo
{     
    50%
	{
		-moz-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		-o-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
    }
    100%
	{
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
    }	
}
.left_batch
{
	position:absolute;
	left:0;
	bottom:2px;
	background:rgba(0,0,0,0.85);
	color:#FFF;
	padding:2px;
	font-size:1.0em;
}	

.left_batch  i
{
	color:#8689A6;
}
.gbid_label
{
	position:absolute;
	top:0;
	right:0;
	font-size:12px;
	font-family:Open Sans Condensed, Arial;
	color:#000;
	background:rgba(255, 255, 255, 0.5);
	font-weight:900;
	padding:2px;
}
.factory_help
{
	position:relative; 
	#height:440px; 
	box-sizing: border-box;
	border:1px solid rgba(0,0,0,0.33);
	margin:2px;
	padding:3px;
	text-align:left!important;
	background:rgba(0,0,0,0.125);
}
.factory_help table 
{
}
.factory_help table td
{
	border:0;
	padding:0px;
}
.smc_vertical_align
{
    vertical-align: middle;
}